.Lovoj__filter {
  width: 100%;
}

.Lovoj__filter input {
  width: 50%;
  padding: 1.5rem;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  box-shadow: inset 0 0 2px #fff, inset 8px 7px 16px #d0d3d7;
  padding-left: 28px;
  background: #f0f0f3;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  outline: none;
}
