.Lovoj__drawer-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Lovoj__drawer-Links {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.Lovoj__drawer-Links ul li {
  padding: 0.5rem;
}

.Lovoj__drawer-Links ul {
  list-style: none;
}
